* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}
h1 {
    margin-bottom: 20px;
    color: #333;
}
#chronometer {
    font-size: 48px;
    margin-bottom: 20px;
    color: #000;
}
#controls button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s;
}
#controls button:hover {
    background-color: #0056b3;
}
#controls {
    margin-top: 20px;
}
#resetBtn {
    background-color: #dc3545;
}
#resetBtn:hover {
    background-color: #a71d2a;
}
